@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Ubuntu&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
  gap: 50px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
background: url("pexels-karolina-grabowska-5624978.jpg");
background-size: 1500px;
background-repeat: no-repeat;
}
#clock {
  /* border: 10px solid red; */
  height: 250px;
  width: 400px;
  /* border-radius: 50px; */
  background-color: #81b29a;
  padding: 50px;
  /* margin: 100px; */
  color: rgb(18, 17, 16);
  box-shadow: 16px -18px 24px 9px rgba(79, 65, 156, 0.87);
  -webkit-box-shadow: 16px -18px 24px 9px rgba(79, 65, 156, 0.87);
  -moz-box-shadow: 16px -18px 24px 9px rgba(79, 65, 156, 0.87);
}
